@import './styles/modal';
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
}
.form-section {
  background: #f5f4fa;
  padding-top: 70px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  input[name='query'] {
    max-width: 400px;
    font-size: 30px;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #f5f4fa;
    border-radius: 4px;
    font-family: 'Cairo', sans-serif;
  }
  input[type='submit'] {
    width: 150px;
    margin-top: 30px;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid rgba(101, 92, 223, 0.692);
    color: white;
    font-family: 'Cairo', sans-serif;
    &:focus {
      outline: none;
    }
    &:hover {
      background: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    &:active {
      background: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}
.galery-section {
  background: #f5f4fa;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 70px;
}
.gallery {
  display: flex;
  margin: -15px;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  li {
    position: relative;
    overflow: hidden;
    margin: 15px;
    flex-basis: calc(((100%-30px) - 6 * 15px) / 3);
    list-style: none;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (max-width: 480px) {
      flex-basis: calc(((100%-30px) - 4 * 15px) / 2);
    }
    &:hover {
      box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.16),
        0px 6px 6px rgba(0, 0, 0, 0.06), 0px 3px 3px rgba(0, 0, 0, 0.12);
      transform: scale(1.02);
      transition-duration: 2000;
    }
  }
  img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
  }
}
.stats {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(197, 229, 255, 0.459);
  transform: translateY(100%);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  .gallery li:hover & {
    transform: translateY(0);
    opacity: 1;
  }
}
.stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 800;
  i {
    margin-right: 10px;
  }
}
.btn-load-more {
  display: none;
  width: 150px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid rgba(101, 92, 223, 0.692);
  color: white;
  font-family: 'Cairo', sans-serif;
  &:focus {
    outline: none;
  }
  &:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &:active {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
